https://codepen.io/olahasan/pen/ExEvJGe

<!-- التكليف من 38:41 -->
<!--التكليف الأول   -->
<div></div>
<div></div>
<div></div> 


/* <!-- التكليف من 38:41 --> */
/* <!--التكليف الأول  --> */

div:empty{
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border: 3px solid black;
    border-radius: 50%;
    margin: 100px 50px 100px 10px;
    float: left;
    box-shadow: 8px 8px 0 0 #21cfe5, 
               -8px -8px 0 0 #f50959;
    position: relative;
    counter-increment: ola;
    left: 400px;
    top: 150px;
}

div::before{
    content: "element";
    position: absolute;
    top: 6px;
    left: 7px;
    margin-left: 15px;
    margin-top: 37px;
    text-transform: capitalize;
    font-size: 20;
    font-weight: bold;
}

div::after{
    height: 20px;
    width: 20px;
    content: counter(ola);
    background-color: black;
    position: absolute;
    color: white;
    text-align: center;
    border-radius: 50%;
    margin-left: 38px;
    margin-top: -10px;
} 
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
https://codepen.io/olahasan/pen/Bardeap

<!-- التكليف من 38:41 -->
<!--التكليف الثاني   -->
<div></div>

/* <!-- التكليف من 38:41 --> */
/* <!--التكليف الثاني  --> */

div:empty{ 
    width: 100px;
    height: 100px;
    background-color: #8080800f;
    margin-left: 45%;
    margin-top: 23%;
    border-bottom-left-radius: 50px 39px;
    border-bottom-right-radius: 7px 30px;
    border-top-left-radius: 7px 44px;
    border-top-right-radius: 50px 39px;
    box-shadow: 3px 3px 14px 1px #2a29299c inset, 
               -3px -3px 20px 0px #2a2929b0 inset;
} 
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
https://codepen.io/olahasan/pen/RwMLbrr

<!-- التكليف من 38:41 -->
<!--التكليف الثالث  -->
<div class="all">

  <div class="right">
    <p>Pro</p>
    <span>$30</span>
  </div>

  <div class="left">
    <p>Basic</p>
    <span>Free</span>
  </div> 

</div>

*{
    box-sizing:content-box;
}

.all{
    width: 550px;
    margin: 200px auto;
}

.right,
.left{
    width: 200px;
    background-color: #eee;
    text-align: center;
    padding: 25px 25px;
    position: relative;
}
.right{
    float: right;
}


.right::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #03a9f4;
    top: 0;
    left: -26px;
}

.right p,
.left p {
    padding: 10px;
    background-color: #03a9f4;
    color: white;
    font-size: 21px;
    border-radius: 7px;
    font-family: sans-serif;
    margin: 0 0 25px 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.right span,
.left span {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    background-color: #ddd;
    display: block;
    border-radius: 50%;
    text-align: center;
    color: black;
    line-height: 200px;
    font-size: 31px;
    font-family: sans-serif;
}
 
.left::after{
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #03a9f4;
    right: -44px;
    top: 50%;
    margin-top: -15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.left::before{
    content: "or";
    position: absolute;
    right: -37px;
    top: 147px;
    z-index: 3;
    font-size: 24px;
    font-family: sans-serif;
    color: white;

}    
