Question 1:
What does CSS stand for?

Cascading Style Sheets  
///////////////////////////////////////////////////////////////////////
Question 2:
What is the correct HTML for referring to an external style sheet?

<link rel="stylesheet" type="text/css" href="mystyle.css">  
///////////////////////////////////////////////////////////////////////
Question 3:
Where in an HTML document is the correct place to refer to an external style sheet?

In the <head> section  
///////////////////////////////////////////////////////////////////////
Question 4:
Which HTML tag is used to define an internal style sheet?

<style>  
///////////////////////////////////////////////////////////////////////
Question 5:
Which HTML attribute is used to define inline styles?

style 
///////////////////////////////////////////////////////////////////////
Question 6:
Which is the correct CSS syntax?

body {color: black;}  
///////////////////////////////////////////////////////////////////////
Question 7:
How do you insert a comment in a CSS file?

/* this is a comment */ 
///////////////////////////////////////////////////////////////////////
Question 8:
Which property is used to change the background color?

background-color 
///////////////////////////////////////////////////////////////////////
Question 9:
How do you add a background color for all <h1> elements?

h1 {background-color:#FFFFFF;} 
///////////////////////////////////////////////////////////////////////
Question 10:
Which CSS property is used to change the text color of an element?

color  
///////////////////////////////////////////////////////////////////////
Question 11:
Which CSS property controls the text size?

font-size  
///////////////////////////////////////////////////////////////////////
Question 12:
What is the correct CSS syntax for making all the <p> elements bold?

p {font-weight:bold;}  
///////////////////////////////////////////////////////////////////////
Question 13:
How do you display hyperlinks without an underline?

a {text-decoration:none;}  
///////////////////////////////////////////////////////////////////////
Question 14:
How do you make each word in a text start with a capital letter?

text-transform:capitalize 
///////////////////////////////////////////////////////////////////////
Question 15:
Which property is used to change the font of an element?

font-family  
///////////////////////////////////////////////////////////////////////
Question 16:
How do you make the text bold?

font-weight:bold; 
///////////////////////////////////////////////////////////////////////
Question 17:
How do you display a border like this:

The top border = 10 pixels
The bottom border = 5 pixels
The left border = 20 pixels
The right border = 1pixel?

border-width:10px 1px 5px 20px;  
///////////////////////////////////////////////////////////////////////
Question 18:
Which property is used to change the left margin of an element?

margin-left  
///////////////////////////////////////////////////////////////////////
Question 19:
When using the padding property; are you allowed to use negative values?

No 
///////////////////////////////////////////////////////////////////////
Question 20:
How do you make a list that lists its items with squares?

list-style-type: square;  
///////////////////////////////////////////////////////////////////////
Question 21:
How do you select an element with id 'demo'?

#demo 
///////////////////////////////////////////////////////////////////////
Question 22:
How do you select elements with class name 'test'?

.test 
///////////////////////////////////////////////////////////////////////
Question 23:
How do you select all p elements inside a div element?

div p  
///////////////////////////////////////////////////////////////////////
Question 24:
How do you group selectors?

Separate each selector with a comma 
///////////////////////////////////////////////////////////////////////
Question 25:
What is the default value of the position property?

static
