/* html */
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CSS</title>
    <!-- External Style -->
    <link rel="stylesheet" href="css/master.css" />
    <!-- Internal Style -->
    <style>
      .special {
        color: green;
      }
    </style>
  </head>
  <body>
    <p style="color: purple">This Is Paragraph</p>
    <p>This Is Paragraph</p>
    <p class="special">This Is Paragraph</p>
    <p>This Is Paragraph</p>
  </body>
</html>
*************************************************************************************************
/* css */
/*
  Target All Paragraphs
*/

p {
  color: green;
}
p {
  color: red;
}
