/*html*/

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CSS</title>
    <link rel="stylesheet" href="css/master.css" />
  </head>
  <body>
    <div class="first">First</div>
    <div class="second">second</div>
    <div>Div</div>
  </body>
</html>
*******************************************************
/*css*/

div {
  background-color: red;
  margin: 10px 0;
}
.first {
  visibility: hidden;
}
