/*html*/

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CSS</title>
    <link rel="stylesheet" href="css/master.css" />
  </head>
  <body>
    <div title="Welcome To Elzero Web School, Hello">
      Welcome To Elzero Web School, Hello
    </div>
  </body>
</html>
*******************************************************
/*css*/

div {
  background-color: #ddd;
  padding: 10px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div:hover {
  overflow: visible;
}
