/*html*/

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CSS</title>
    <link rel="stylesheet" href="css/master.css" />
  </head>
  <body>
    <div>elzero web school</div>
    <p>Elzero Web School</p>
  </body>
</html>
*******************************************************
/*css*/

div {
  font-variant: small-caps;
  font-weight: bold;
}
p {
  text-transform: uppercase;
}
