/*html*/

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CSS</title>
    <link rel="stylesheet" href="css/master.css" />
  </head>
  <body>
    <div>
      <h2>Product Title</h2>
      <p>This Is Paragraph</p>
    </div>
  </body>
</html>
*******************************************************
/*css*/

div {
  background-color: #DDD;
  width: 300px;
  padding: 10px;
  outline: 10px solid red;
  border: 10px solid blue;
}
