/*html*/

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CSS</title>
    <link rel="stylesheet" href="css/master.css" />
  </head>
  <body>
    <div>elzero web school</div>
    <a href="#">Google</a>
  </body>
</html>
*******************************************************
/*css*/

div {
  background-color: #f9f9f9;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}
