/*html*/

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CSS</title>
    <link rel="stylesheet" href="css/master.css" />
  </head>
  <body>
    <div class="one">
      <span>L</span>orem ipsum dolor sit amet consectetur, adipisicing elit.
      Laudantium accusantium ipsa veniam officiis
      blanditiis numquam rerum! Eligendi perspiciatis atque ut adipisci quam,
      temporibus eveniet nisi assumendaconsequatur, maiores ad veritatis.
    </div>
    <hr />
    <div class="two">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Laudantium accusantium ipsa veniam officiis
      blanditiis numquam rerum! Eligendi perspiciatis atque ut adipisci quam,
      temporibus eveniet nisi assumendaconsequatur, maiores ad veritatis.
    </div>
    <hr />
    <p class="three">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Laudantium accusantium ipsa veniam officiis
      blanditiis numquam rerum! Eligendi perspiciatis atque ut adipisci quam,
      temporibus eveniet nisi assumendaconsequatur, maiores ad veritatis.
    </p>
  </body>
</html>
*******************************************************
/*css*/

.one span {
  display: inline-block;
  background-color: red;
  color: white;
  font-size: 60px;
  font-weight: bold;
}
.two::first-letter {
  display: inline-block;
  background-color: red;
  color: white;
  font-size: 60px;
  font-weight: bold;
}
.three::first-line {
  font-weight: bold;
  color: green;
}
::selection {
  background-color: black;
  color: yellow;
}
